@font-face {
    font-family: 'tahoma';
    src: url('tahoma.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'tahoma';
    src: url('tahomabd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* @font-face {
    font-family: 'MyriadPro';
    src: url('MyriadPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'FordAntenna';
    src: url('FordAntenna-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FordAntenna';
    src: url('FordAntenna-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'FordAntenna';
    src: url('FordAntenna-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
