footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: $GREY;
    color: $BLACK-I;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        @media only screen and (min-width: 768px) {
            font-size: 16px;
        }
        img {
            width: 120px;
            padding: 20px 0;
            @media only screen and (min-width: 768px){
                width: 180px;
                padding: 10px 0;
            }
        }
    }
}
