.formaciones {
    .banner {
        .banner-text {
            h1 {
                padding: 0px ;
                margin: 0;
                font-family: "KaushanScript-Regular";
                color: $GREY;
                font-size: 60px;
                letter-spacing: 1px;
                border-radius: 30px;
                background-color: rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.3);
            }
            @media screen and (min-width: 768px) {
                position: absolute;
                bottom: 20%;
                left: 10%;
                h1 {
                    font-size: 80px;
                    background-color: rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    .banner::before {
        background: url(img/formacion-mobile.jpg) no-repeat center center;

        @media only screen and (min-width: 768px) {
            background: url(img/formacion.jpg) no-repeat center -20%;
        }
    }
    .formacion {
        background-color: $ARENA;
        z-index: -1;
        .container {
            display: flex;
            position: relative;
            .formacion-img {
                display: none;
            }
            .formacion-text {

                padding: 30px 0;
                color: $PETROLEO;
                z-index: 2;
                background-color: rgba(229, 225, 216, 0.9);
                background-image: url(img/KC_Submarca_circular_min.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-color: none;
                p {
                    letter-spacing: 1.2px;
                    line-height: 1.6;
                }
            }
            @media screen and(min-width: 768px) {
                padding: 30px 0;
                .formacion-img {
                    width: 40%;
                    border-radius: 30px;
                    display: block;
                    width: 40%;
                    border-radius: 30px;
                    background-image: url("img/Mockup2.jpg");
                    background-size: cover;
                    background-position: center;
                }
                .formacion-text {
                    background-image: url(img/KC_Submarca_circular_min.png);
                    background-size: percentage($number: 0.4);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: none;
                    width: 60%;
                    color: $PETROLEO;
                    padding: 30px;
                    p {
                        font-size: 20px;
                        letter-spacing: 1.2px;
                        line-height: 1.6;
                    }
                }
            }
        }
        
    }
}