.site-header {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: $CELESTE;
    @media screen and (min-width: 768px) {
        padding: 45px 5%;
    }
    .header-logo {
        display: flex;
        align-items: center;
        width: 30%;
        img {
            width: 100%;
        }
        @media screen and (max-width:767px) {
            margin-left: 10px;
            width: unset;
        }

    }
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 70%;
        .menu {
            @media screen and (max-width: 767px) {
                display: none;
            }
            display: flex;
            list-style: none;
            &-item {
                font-size: 25px;
                font-weight: 300;
                a {
                    color: white;
                }
                margin-left: 20px;
            }
        
        }
        .menu-button {
            margin-right: 15px;
            padding: 10px 0;
            span {
                transition: all 0.3s ease-in-out;
                display: block;
                background-color: white;
                height: 3px;
                margin: 5px 0;
                width: 25px;
            }
    
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
        .menu-activo {
            span {
                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }
    .menu-mobile {
        @media screen and (min-width: 768px) {
            display: none;
        }
        transition: all 0.3s ease-in-out;
        position: fixed;
        top: 48px;
        left: -520px;
        z-index: 1000;
        background-color: lighten($CELESTE, 4%);
        padding: 0 35px 0 0;
        opacity: 0;
        font-size: 22px;
        border-bottom-right-radius: 25px;
        -webkit-box-shadow: 500px 501px 0px 500px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 500px 501px 0px 500px rgba(0,0,0,0.3);
        box-shadow: 500px 501px 0px 500px rgba(0,0,0,0.3);

        li {
            list-style: none;
            margin-top: 10px;
        }
        a {
            
            color: white;
        }

    }
}
.scroll-header {
    padding: 0 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;  
    .navbar {
        .menu-principal-container {
            .menu {
                .menu-item {
                    a {
                        img {
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
                
}
